{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h1>Free English learning materials</h1>
<h2>Learn English at your own pace</h2>
<p>
    Grapple is a platform that offers free English learning resources for students of all levels. Whether you're a beginner or an advanced learner, you can find lessons, exercises, and interactive activities that will help you improve your English skills.
<h2>Created by experienced teachers</h2>
<p>
Our content creators are all experienced English teachers who have designed our materials to be engaging, effective, and easy to use. You can trust that the lessons you find on Grapple are accurate, up-to-date, and tailored to help you succeed in your language learning journey.
</p>
<h2>It's FREE!</h2>
<p>
All the resources on Grapple are completely free of charge. We believe that everyone should have access to quality education, regardless of their financial situation. Start learning today and take advantage of our comprehensive library of English learning materials without spending a dime.
</p>

{% endblock %}
