{% extends "base.html" %}
{% load static %}

{% block title %}Welcome to  Grapple!{% endblock %}

{% block content %}
  <div class="landing-container">
    <h1>Welcome to Grapple!</h1>
    <h2>Your #1 FREE English learning resource</h2>
    <div class="buttons">
      <a href="{% url 'signup' %}" class="btn">Sign Up</a>
    </div>
  </div>

<div class="grammar-lessons">
    <h3>Check out some of our latest materials: </h3>
    {% for lesson in grammar_lessons %}
        <div class="lesson-item" onclick="location.href='{% url 'preview_lesson' lesson.id %}'">
            <div class="lesson-image">
              <img src="{% static 'learning/images/grammar.png' %}" alt="PIxel blocks stacked on top of each other in a pyramid">
            </div>
            <div class="lesson-preview">
                <h4>{{ lesson.title }}</h4>
                <p>{{ lesson.preview|slice:":205" }}...</p>            
            </div>
        </div>
    {% empty %}
        <p>No recent grammar lessons available.</p>
    {% endfor %}
</div>

{% endblock %}
