{% extends "base.html" %}

{% block title %}Welcome to  Grapple!{% endblock %}

{% block content %}
  <div class="landing-container">
    <h1>Welcome to Grapple!</h1>
    <h2>Your #1 English learning resource</h2>
    <p>If you're ready to get started, please sign up or log in. Or, if you'd like to know more about our educational content, check out our about page.</p>
    <div class="buttons">
      <button><a href="{% url 'signup' %}">Sign Up</a></button>
      <button><a href="{% url 'login' %}">Log In</a></button>
      <button><a href="{% url 'about' %}">About</a></button>
    </div>
  </div>
  
  <div class="langing-container">

  </div>

{% endblock %}
