@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Jersey+10&display=swap');

:root {
  --white: #ffffff;
  --black: #000000;
  --pink: #fdb0c8;
  --cherry: #d00647;
  --red: #85012c;
  --black: black
}

* {
  margin: 0;
  padding: 0;
  color: black
}

/*Base Styles*/
body {
  background-color: var(--white);
  font-family: "Atkinson Hyperlegible Next", serif;
}

main{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content: RIGHT;
  height: AUTO;
  gap: 2rem;
  background-color: var(--pink);
  font-family: "Jersey 10", serif !important;
  color: var(--black);
  font-size: clamp(30px, 13vw, 60px);
  padding-right: 2rem;
  padding-top: 0.5rem;
}

nav > a > img {
  height: 4rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: clamp(30px, 5vw, 50px);
  margin-top: 2rem;
}

h2 {
  font-size: clamp(20px, 4vw, 40px);
  margin-top: 1rem;
}

p {
  font-size: clamp(15px, 3.5vw, 40px);
  margin: 0.25rem 0;
}

div.buttons{
  margin-top: 1rem;
}

button, .btn{
  padding: 0.75rem 1.5rem;
  border-radius: 1rem;
  font-family: "Jersey 10", serif !important;
  font-size: 1.5rem;
  background-color: var(--pink);
  color: var(--black);
  font-size: clamp(15px, 3.5vw, 40px);
  border: none;
  cursor: pointer;
}


.login-form{
  margin-top: 2rem;
  font-family: "Jersey 10", serif !important;
  width: 100%;
  max-width: 40rem;
}

/*Sign up form*/
.signup-form {
  justify-self: center;
  margin-top: 2rem;
  font-family: "Jersey 10", serif !important;
  max-width: 40rem;
  
}

input.form-control{
  font-family: "Jersey 10", serif !important;
  height:2rem;
  width: 100%;
  font-size: 1.75rem;
  padding: 0.5rem;
  text-align: center;
}

.form-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  font-size: 1.75rem;
}


/* Avatar selection styling */
.avatar-options {
    display: flex;
    margin-top: 1rem;
    width: 100%;

}

.avatar-options img {
    width: 100%;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
}

.avatar-options input[type="radio"] {
    display: none;
}

.avatar-options input[type="radio"]:checked + img {
    border-color: var(--cherry);
    box-shadow: 0px 0px 20px var(--cherry);
}


/*Creator Dashboard*/

.dashboard-buttons{
  margin-top: 2rem;
}

/*Lessons and Quizzes Display*/

table.lessonsQuizzes {
  width: 100%;
  max-width: 40rem;
  border-collapse: collapse;
  margin-top: 1rem;
  text-align: center;
}

table.lessonsQuizzes > thead{
  font-size: clamp(15px, 3.5vw, 25px);
}

table.lessonsQuizzes thead tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 

}

table.lessonsQuizzes thead tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

table.lessonsQuizzes thead {
    background-color: var(--pink); /* Keep background on the whole header */
}

table.lessonsQuizzes > thead > tr > th{
  padding: 0.4rem;
}

table.lessonsQuizzes > tbody > tr > td{
  padding: 0.5rem;
  border-bottom: 1px solid var(--black);
}